

/*
Template Name: Bootstrap Starter Kit - Style Library 1
Description: Business Startup & Prototyping HTML Framework
Author: Theme Spirit
Author URI: http://www.creativemarket.com/theme_spirit

Version: 1.0

*/

/*	PATTERN LIBRARY STYLES
/*----------------------------------------------------*/

body
{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #333333;
    background: #ffffff;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* BACKGROUND COLORS */

.bg-transparent
{
    background-color: transparent !important;
}

.bg-black
{
    background-color: #111111 !important;
}

.bg-white
{
    background-color: #FFFFFF !important;
}

.bg-offwhite
{
    background-color: #F5F5F5 !important;
}

.bg-clouds
{
    background-color: #ECF0F1 !important;
}

.bg-silver
{
    background-color: #BDC3C7 !important;
}

.bg-concrete
{
    background-color: #95A5A6 !important;
}

.bg-asbestos
{
    background-color: #7F8C8d !important;
}

.bg-tan
{
    background-color: #D1DBBD !important;
}

.bg-pewter
{
    background-color: #91AA9D !important;
}

.bg-moonlight
{
    background-color: #3E606F !important;
}

.bg-deepocean
{
    background-color: #193441 !important;
}

.bg-turquoise
{
    background-color: #1ABC9C !important;
}

.bg-aqua
{
    background-color: #16A085 !important;
}

.bg-sunflower
{
    background-color: #F1C40F !important;
}

.bg-orange
{
    background-color: #F39C12 !important;
}

.bg-sienna
{
    background-color: #BF4E19 !important;
}

.bg-milanored
{
    background-color: #AC1C00 !important;
}

.bg-river
{
    background-color: #3498DB !important;
}

.bg-marina
{
    background-color: #2980B9 !important;
}

.bg-deco
{
    background-color: #C9D787 !important;
}

.bg-crete
{
    background-color: #7D8A2E !important;
}

.bg-guardsman
{
    background-color: #D90000 !important;
}

.bg-pomegranate
{
    background-color: #C0392B !important;
}

.bg-finn
{
    background-color: #723147 !important;
}

.bg-tamarind
{
    background-color: #31152B !important;
}

.bg-transparent-hover:hover
{
    background-color: transparent !important;
}

.bg-black-hover:hover
{
    background-color: #111111 !important;
}

.bg-white-hover:hover
{
    background-color: #FFFFFF !important;
}

.bg-offwhite-hover:hover
{
    background-color: #F5F5F5 !important;
}

.bg-clouds-hover:hover
{
    background-color: #ECF0F1 !important;
}

.bg-silver-hover:hover
{
    background-color: #BDC3C7 !important;
}

.bg-concrete-hover:hover
{
    background-color: #95A5A6 !important;
}

.bg-asbestos-hover:hover
{
    background-color: #7F8C8d !important;
}

.bg-tan-hover:hover
{
    background-color: #D1DBBD !important;
}

.bg-pewter-hover:hover
{
    background-color: #91AA9D !important;
}

.bg-moonlight-hover:hover
{
    background-color: #3E606F !important;
}

.bg-deepocean-hover:hover
{
    background-color: #193441 !important;
}

.bg-turquoise-hover:hover
{
    background-color: #1ABC9C !important;
}

.bg-aqua-hover:hover
{
    background-color: #16A085 !important;
}

.bg-sunflower-hover:hover
{
    background-color: #F1C40F !important;
}

.bg-orange-hover:hover
{
    background-color: #F39C12 !important;
}

.bg-sienna-hover:hover
{
    background-color: #BF4E19 !important;
}

.bg-milanored-hover:hover
{
    background-color: #AC1C00 !important;
}

.bg-river-hover:hover
{
    background-color: #3498DB !important;
}

.bg-marina-hover:hover
{
    background-color: #2980B9 !important;
}

.bg-deco-hover:hover
{
    background-color: #C9D787 !important;
}

.bg-crete-hover:hover
{
    background-color: #7D8A2E !important;
}

.bg-guardsman-hover:hover
{
    background-color: #D90000 !important;
}

.bg-pomegranate-hover:hover
{
    background-color: #C0392B !important;
}

.bg-finn-hover:hover
{
    background-color: #723147 !important;
}

.bg-tamarind-hover:hover
{
    background-color: #31152B !important;
}

/* BG COVER - MTCH */

.bg-image-cover
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* COLORS - MTCH added !important */

.black
{
    color: #111111 !important;
}

.white
{
    color: #FFFFFF !important;
}

.offwhite
{
    color: #F5F5F5 !important;
}

.clouds
{
    color: #ECF0F1 !important;
}

.silver
{
    color: #BDC3C7 !important;
}

.concrete
{
    color: #95A5A6 !important;
}

.asbestos
{
    color: #7F8C8d !important;
}

.tan
{
    color: #D1DBBD !important;
}

.pewter
{
    color: #91AA9D !important;
}

.moonlight
{
    color: #3E606F !important;
}

.deepocean
{
    color: #193441 !important;
}

.turquoise
{
    color: #1ABC9C !important;
}

.aqua
{
    color: #16A085 !important;
}

.sunflower
{
    color: #F1C40F !important;
}

.orange
{
    color: #F39C12 !important;
}

.sienna
{
    color: #BF4E19 !important;
}

.milanored
{
    color: #AC1C00 !important;
}

.river
{
    color: #3498DB !important;
}

.marina
{
    color: #2980B9 !important;
}

.deco
{
    color: #C9D787 !important;
}

.crete
{
    color: #7D8A2E !important;
}

.guardsman
{
    color: #D90000 !important;
}

.pomegranate
{
    color: #07accd;
}

.finn
{
    color: #723147 !important;
}

.tamarind
{
    color: #31152B !important;
}

.black-hover:hover
{
    color: #111111 !important;
}

.white-hover:hover
{
    color: #FFFFFF !important;
}

.offwhite-hover:hover
{
    color: #F5F5F5 !important;
}

.clouds-hover:hover
{
    color: #ECF0F1 !important;
}

.silver-hover:hover
{
    color: #BDC3C7 !important;
}

.concrete-hover:hover
{
    color: #95A5A6 !important;
}

.asbestos-hover:hover
{
    color: #7F8C8d !important;
}

.tan-hover:hover
{
    color: #D1DBBD !important;
}

.pewter-hover:hover
{
    color: #91AA9D !important;
}

.moonlight-hover:hover
{
    color: #3E606F !important;
}

.deepocean-hover:hover
{
    color: #193441 !important;
}

.turquoise-hover:hover
{
    color: #1ABC9C !important;
}

.aqua-hover:hover
{
    color: #16A085 !important;
}

.sunflower-hover:hover
{
    color: #F1C40F !important;
}

.orange-hover:hover
{
    color: #F39C12 !important;
}

.sienna-hover:hover
{
    color: #BF4E19 !important;
}

.milanored-hover:hover
{
    color: #AC1C00 !important;
}

.river-hover:hover
{
    color: #3498DB !important;
}

.marina-hover:hover
{
    color: #2980B9 !important;
}

.deco-hover:hover
{
    color: #C9D787 !important;
}

.crete-hover:hover
{
    color: #7D8A2E !important;
}

.guardsman-hover:hover
{
    color: #D90000 !important;
}

.pomegranate-hover:hover
{
    color: #C0392B !important;
}

.finn-hover:hover
{
    color: #723147 !important;
}

.tamarind-hover:hover
{
    color: #31152B !important;
}

.no-shadow
{
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
}

/* PADDING, MARGIN & ALIGNMENT */

.pad0
{
    padding-top: 0px !important;
}

.pad5
{
    padding-top: 5px !important;
}

.pad25
{
    padding-top: 25px !important;
}

.pad30
{
    padding-top: 30px !important;
}

.pad45
{
    padding-top: 45px !important;
}

.pad60
{
    padding-top: 60px !important;
}

.pad90
{
    padding-top: 90px !important;
}

.pad-bottom0
{
    padding-bottom: 0px !important;
}

.pad-bottom5
{
    padding-bottom: 5px !important;
}

.pad-bottom10
{
    padding-bottom: 10px !important;
}

.pad-bottom15
{
    padding-bottom: 15px !important;
}

.pad-bottom20
{
    padding-bottom: 20px !important;
}

.pad-bottom45
{
    padding-bottom: 45px !important;
}

.pad-bottom60
{
    padding-bottom: 60px !important;
}

.pad-bottom90
{
    padding-bottom: 90px !important;
}

.margin-bottom0
{
    margin-bottom: 0px !important;
}

.margin-bottom5
{
    margin-bottom: 5px !important;
}

.margin-bottom10
{
    margin-bottom: 10px !important;
}

.margin-bottom15
{
    margin-bottom: 15px !important;
}

.margin-bottom20
{
    margin-bottom: 20px !important;
}

.margin-bottom25
{
    margin-bottom: 25px !important;
}

.margin-bottom30
{
    margin-bottom: 30px !important;
}

.margin-bottom45
{
    margin-bottom: 45px !important;
}

.margin-bottom60
{
    margin-bottom: 60px !important;
}

.margin-bottom90
{
    margin-bottom: 90px !important;
}

.margin-top0
{
    margin-top: 0px !important;
}

.margin-top5
{
    margin-top: 5px !important;
}

.margin-top10
{
    margin-top: 10px !important;
}

.margin-top15
{
    margin-top: 15px !important;
}

.margin-top20
{
    margin-top: 20px !important;
}

.margin-top25
{
    margin-top: 25px !important;
}

.margin-top30
{
    margin-top: 30px !important;
}

.margin-top45
{
    margin-top: 45px !important;
}

.margin-top60
{
    margin-top: 60px !important;
}

.margin-top90
{
    margin-top: 90px !important;
}

.min-height-100px
{
    min-height: 100px !important;
}

.min-height-200px
{
    min-height: 200px !important;
}

.min-height-300px
{
    min-height: 300px !important;
}

.min-height-400px
{
    min-height: 400px !important;
}

.min-height-500px
{
    min-height: 500px !important;
}

.min-height-600px
{
    min-height: 600px !important;
}

.min-height-700px
{
    min-height: 700px !important;
}

.min-height-800px
{
    min-height: 800px !important;
}

@media only screen and (max-width : 767px)
{
    .min-height-xs-100px
    {
        min-height: 100px !important;
    }
    .min-height-xs-200px
    {
        min-height: 200px !important;
    }
    .min-height-xs-300px
    {
        min-height: 300px !important;
    }
    .min-height-xs-400px
    {
        min-height: 400px !important;
    }
    .min-height-xs-500px
    {
        min-height: 500px !important;
    }
    .min-height-xs-600px
    {
        min-height: 600px !important;
    }
    .min-height-xs-700px
    {
        min-height: 700px !important;
    }
    .min-height-xs-800px
    {
        min-height: 800px !important;
    }
}

.marg-bottom5
{
    margin-bottom: 5px !important;
}

.marg-left5
{
    margin-left: 5px !important;
}

.marg-right5
{
    margin-right: 5px !important;
}

.but_marg
{
    margin-left: 3px !important;
}

.v-center
{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/** TYPOGRAPHY **/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    line-height: 1.1;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small
{
    color: #e5e5e5;
}

h1, h2, h3
{
    margin-bottom: 20px;
    font-weight: 300;
}

h4, h5, h6
{
    margin-bottom: 15px;
    font-weight: 400;
}

h1, .h1
{
    font-size: 44px;
}

h2, .h2
{
    font-size: 37px;
}

h3, .h3
{
    font-size: 27px;
}

h4, .h4
{
    font-size: 23px;
}

h5, .h5
{
    font-size: 18px;
}

h6, .h6
{
    font-size: 16px;
}

p
{
    font-size: 14px;
    line-height: 1.6;
    margin: 15px 0;
    color: #515157;
}

.lead
{
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 300;
}

small, .small
{
    font-size: 80%;
    line-height: 2;
}

em
{
    color: #ff6600;
}

/* LINKS */

a
{
    color: #1abc9c;
}

a:hover
{
    color: #16a085;
    text-decoration: none;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* LISTS */

ol
{
    position: relative;
    padding-left: 22px;
}

ul
{
    list-style: none;
    position: relative;
    padding-left: 22px;
}

ul li,
ol li
{
    font-size: 14px;
    color: #515157;
    margin-bottom: 5px;
}

ul.circle li:before
{
    font-family: 'fontawesome';
    content: '\f10c';
    font-size: 12px;
    color: #16a085;
    padding-top: 2px;
    margin-left: -20px;
    position: absolute;
}

/* TITLES */

.underlined-title
{
    text-align: center;
    padding-bottom: 30px;
}

.underlined-title h1
{
    color: #2c3e50;
    margin: 0;
}

.underlined-title h2
{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #95a5a6;
}

.underlined-title hr
{
    width: 10%;
    border-width: 2px;
    border-color: #16a085;
}

/* IMAGES */

img
{
}

/*===================================================================================*/

/*	BUTTONS
/*===================================================================================*/

.btn
{
    color: #FFF;
    padding: 10px 20px;
    margin: 15px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-shadow: none;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.modal-footer .btn+.btn
{
    margin-bottom: 15px;
}

.btn-sm
{
    padding: 7px 13px;
    font-size: 12px;
}

.btn-lg
{
    padding: 16px 26px;
    font-size: 16px;
}

.btn-xl
{
    padding: 18px 30px;
    font-size: 24px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

h1 .btn,
h2 .btn,
h3 .btn,
h4 .btn,
p .btn
{
    margin-left: 15px;
}

/* Button DISABLED */

.disabled a
{
    cursor: not-allowed;
}

/* Button DEFAULT */

.btn.btn-default
{
    background: #ecf0f1;
    box-shadow: 0 2px #bdc3c7;
    color: #999;
}

.btn.btn-default:hover
{
    background: #bdc3c7;
}

/* Button PRIMARY */

.btn.btn-primary
{
    background: #1abc9c;
    box-shadow: 0 2px #16a085;
}

.btn.btn-primary:hover
{
    background: #16a085;
}

/* Button WARNING */

.btn.btn-warning
{
    background: #f1c40f;
    box-shadow: 0 2px #f39c12;
}

.btn.btn-warning:hover
{
    background: #f39c12;
}

/* Button DANGER */

.btn.btn-danger
{
    background: #e74c3c;
    box-shadow: 0 2px #c0392b;
}

.btn.btn-danger:hover
{
    background: #c0392b;
}

/* Button SUCCESS */

.btn.btn-success
{
    background: #2ecc71;
    box-shadow: 0 2px #27ae60;
}

.btn.btn-success:hover
{
    background: #27ae60;
}

/* Button DARK */

.btn.btn-dark
{
    background: #34495e;
    box-shadow: 0 2px #2c3e50;
    color: #ffffff;
}

.btn.btn-dark:hover
{
    background: #2c3e50;
}

/* Button INFO */

.btn.btn-info
{
    background: #3498db;
    box-shadow: 0 2px #2980b9;
}

.btn.btn-info:hover
{
    background: #2980b9;
}

/* Outline Buttons */

.btn-outline
{
    color: #FFF;
    padding: 12px 20px;
    margin: 15px 0;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    text-shadow: none;
    border: none;
    text-transform: uppercase;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

.btn-outline:hover
{
    text-decoration: none;
    color: #ffffff;
}

.btn-outline-sm
{
    padding: 5px 13px;
    font-size: 13px;
}

.btn-outline-lg
{
    padding: 14px 26px;
    font-size: 15px;
}

.btn-outline-xl
{
    padding: 18px 30px;
    font-size: 24px;
}

.btn-outline.outline-light,
.icon.outline-light
{
    color: #ffffff;
    background: none;
    border: 2px solid #ffffff;
}

.btn-outline.outline-light:hover,
.icon.outline-light:hover
{
    color: #2c3e50;
    background: #ffffff;
}

.btn-outline.outline-dark,
.icon.outline-dark
{
    color: #2c3e50;
    background: none;
    border: 2px solid #2c3e50;
}

.btn-outline.outline-dark:hover,
.icon.outline-dark:hover
{
    color: #ffffff;
    background: #2c3e50;
}

button:hover
{
    text-decoration: none;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*===================================================================================*/

/*	SOCIAL ICONS
/*===================================================================================*/

.social
{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: 100;
}

.social li
{
    display: inline-block;
    margin-right: 6px;
}

.social li a
{
    display: table;
    position: relative;
}

.social li a i
{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 34px;
    height: 34px;
    font-size: 18px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.social-light li a i
{
    color: #ffffff;
}

.social-dark li a i
{
    color: #666666;
}

.social li a i:after
{
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.social li a:hover i
{
    color: #f0f0f0;
}

.social li a:hover i:after
{
    height: 100%;
}

.social a .fa-facebook:after
{
    background: #3b5998;
}

.social a .fa-google-plus:after
{
    background: #dd4b39;
}

.social a .fa-twitter:after
{
    background: #00aced;
}

.social a .fa-pinterest:after
{
    background: #CB2027;
}

.social a .fa-behance:after
{
    background: #1769FF;
}

.social a .fa-dribbble:after
{
    background: #EA4C89;
}

/* FORM CONTROL */

fieldset
{
    border: 2px solid #ecf0f1;
    border-radius: 6px;
    padding: 30px 50px;
}

fieldset legend
{
    color: #333;
    padding: 5px 10px;
    border: 2px solid #ecf0f1;
    border-radius: 6px;
}

.form-control
{
    border: 2px solid #ecf0f1;
    color: #34495e;
    font-size: 14px;
    line-height: 1.467;
    padding: 8px 12px;
    height: 40px;
    -webkit-appearance: none;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.form-group
{
    position: relative;
    margin-bottom: 20px;
}

.form-group.focus .form-control,
.form-control:focus
{
    border-color: #1abc9c;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control
{
    background-color: #f4f6f6;
    border-color: #d5dbdb;
    color: #d5dbdb;
    cursor: default;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.form-control.form-minimal
{
    border-color: transparent;
}

.form-control.form-minimal:hover
{
    border-color: #bdc3c7;
}

.form-control.form-minimal:focus
{
    border-color: #1abc9c;
}

.has-success .help-block,
.has-success .control-label
{
    color: #2ecc71;
}

.has-success .form-control
{
    color: #2ecc71;
    border-color: #2ecc71;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .form-control:-moz-placeholder
{
    color: #2ecc71;
    opacity: 1;
}

.has-success .form-control::-moz-placeholder
{
    color: #2ecc71;
    opacity: 1;
}

.has-success .form-control:-ms-input-placeholder
{
    color: #2ecc71;
}

.has-success .form-control::-webkit-input-placeholder
{
    color: #2ecc71;
}

.has-success .form-control.placeholder
{
    color: #2ecc71;
}

.has-success .form-control:focus
{
    border-color: #2ecc71;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .input-group-addon
{
    color: #2ecc71;
    border-color: #2ecc71;
    background-color: #ffffff;
}

.has-warning .help-block,
.has-warning .control-label
{
    color: #f1c40f;
}

.has-warning .form-control
{
    color: #f1c40f;
    border-color: #f1c40f;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-warning .form-control:-moz-placeholder
{
    color: #f1c40f;
    opacity: 1;
}

.has-warning .form-control::-moz-placeholder
{
    color: #f1c40f;
    opacity: 1;
}

.has-warning .form-control:-ms-input-placeholder
{
    color: #f1c40f;
}

.has-warning .form-control::-webkit-input-placeholder
{
    color: #f1c40f;
}

.has-warning .form-control.placeholder
{
    color: #f1c40f;
}

.has-warning .form-control:focus
{
    border-color: #f1c40f;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-warning .input-group-addon
{
    color: #f1c40f;
    border-color: #f1c40f;
    background-color: #ffffff;
}

.has-error .help-block,
.has-error .control-label
{
    color: #e74c3c;
}

.has-error .form-control
{
    color: #e74c3c;
    border-color: #e74c3c;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .form-control:-moz-placeholder
{
    color: #e74c3c;
    opacity: 1;
}

.has-error .form-control::-moz-placeholder
{
    color: #e74c3c;
    opacity: 1;
}

.has-error .form-control:-ms-input-placeholder
{
    color: #e74c3c;
}

.has-error .form-control::-webkit-input-placeholder
{
    color: #e74c3c;
}

.has-error .form-control.placeholder
{
    color: #e74c3c;
}

.has-error .form-control:focus
{
    border-color: #e74c3c;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .input-group-addon
{
    color: #e74c3c;
    border-color: #e74c3c;
    background-color: #ffffff;
}

/* FORM - INPUT ICON */

.form-control + .input-icon
{
    position: absolute;
    top: 2px;
    right: 2px;
    line-height: 37px;
    vertical-align: middle;
    font-size: 20px;
    color: #b2bcc5;
    background-color: #ffffff;
    padding: 0 12px 0 0;
    border-radius: 6px;
}

.input-hg + .input-icon
{
    line-height: 49px;
    padding: 0 16px 0 0;
}

.input-lg + .input-icon
{
    line-height: 41px;
    padding: 0 15px 0 0;
}

.input-sm + .input-icon
{
    font-size: 18px;
    line-height: 30px;
    padding: 0 10px 0 0;
}

/* FORM - INPUT GROUP */

.input-group .input-group-btn .btn
{
    margin: 0;
    box-shadow: none;
}

/*	ACCORDION / TOGGLE */

.panel-group
{
    margin-bottom: 0;
}

.panel-group + .panel-group
{
    margin-top: 20px;
}

.panel-group .panel
{
    background: #fff;
    border: 1px solid #E6E9ED;
    border-bottom-width: 2px;
    border-radius: 3px;
    box-shadow: none;
}

.panel-group .panel + .panel
{
    margin-top: 10px;
}

.panel-group .panel-heading + .panel-collapse .panel-body
{
    border-top-color: #E6E9ED;
}

.panel-body
{
    padding: 25px;
}

.panel-heading
{
    background-color: inherit !important;
    color: inherit !important;
    padding: 0;
    border-color: inherit !important;
}

.panel-title
{
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel-title > a
{
    display: block;
    padding: 15px 25px 15px;
    text-decoration: none;
    color: #fff;
}

.panel-title > a.collapsed
{
    background: #f5f5f5;
}

.panel-title > a.collapsed,
.panel-title > a.collapsed span
{
    color: #16A085;
}

.panel-title > a,
.panel-title > a:hover
{
    background: #16A085;
    color: #fff;
}

.panel-title > a span
{
    display: block;
    position: relative;
    top: 0;
    color: #fff;
    padding-right: 25px;
}

.text-right .panel-title > a span
{
    padding-left: 25px;
    padding-right: 0;
}

.text-center .panel-title > a span
{
    padding-left: 0;
    padding-right: 0;
}

.panel-title > a:hover span
{
    color: inherit;
}

.text-center .panel-title > a:hover span
{
    top: .5em;
    color: transparent;
}

.panel-title > a span:after
{
    font-family: "fontawesome";
    content: "\f077";
    position: absolute;
    top: 0;
    right: 0;
}

.text-right .panel-title > a span:after
{
    left: 0;
    right: auto;
}

.text-center .panel-title > a span:after
{
    top: -.75em;
    left: 0;
    opacity: 0;
}

.panel-title > a.collapsed span:after
{
    content: "\f078";
}

/* TABS */

.nav-tabs
{
    margin: 0 auto;
}

.nav-tabs > li
{
    z-index: 2;
    float: none;
    display: inline-block;
}

.nav-tabs > li > a
{
    padding: 16px 25px 12px;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: rgba(239, 135, 22, 0.79);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none !important;
    border-bottom: 4px solid transparent !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
{
    background-color: transparent;
    border-bottom: 4px solid #85d6de !important;
}

.nav > li > a:hover,
.nav > li > a:focus
{
    outline: 0;
}

.tab-content
{
    padding-left: 0;
    padding-right: 0;
    border: none;
}

.tab-pane
{
    padding: 50px 0;
    border-bottom: 1px solid #ecf0f1;
}

/* PAGINATION */

.pagination li a
{
    font-size: 14px;
    color: #16A085;
    background: none;
    margin: 0 3px;
    border: 1px solid #16A085;
    padding: 5px 12px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus
{
    color: #16A085;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus
{
    background-color: #1ABC9C;
    border-color: #16A085;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus
{
    color: #999;
}

.pagination li:first-child a,
.pagination li:last-child a
{
    border-radius: 0 !important;
}

.pagination-lg li a
{
    padding: 8px 16px;
    font-size: 16px;
}

.pagination-sm li a
{
    padding: 4px 10px;
    font-size: 12px;
}

/* PAGER */

.pager li > a,
.pager li > span
{
    border: 1px solid #16A085;
    border-radius: 0;
    color: #16A085;
    font-size: 14px;
    min-width: 160px;
}

.pager li > a:hover,
.pager li > a:focus
{
    border: 1px solid #ddd;
}

.pager .next > a,
.pager .next > span
{
    float: right;
}

.pager .previous > a,
.pager .previous > span
{
    float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span
{
    color: #999;
    border: 1px solid #ddd;
}

/* CONTENT BLOCK HOLDERS */

.content-block
{
    width: 100%;
    padding: 60px 0 60px 0;
    z-index: 100;
    position: relative;
    background-color: #ffffff;
}

.content-block-nopad
{
    width: 100%;
    z-index: 100;
    position: relative;
    background-color: #ffffff;
}

/*	PATTERN LIBRARY MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */

@media only screen and (min-width : 768px){
	
	
	
}

/* Medium Devices, Desktops */

@media only screen and (min-width : 992px){
	
	
	
}

/* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px){
	
	
	
}

/*	Youtube responsive size
/*----------------------------------------------------*/

.vid
{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.vid iframe,
.vid object,
.vid embed
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

